.header {

    min-height: 100vh;
    
    .container {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        left: 0;
        z-index: 2;
        @media (max-width: 1023px) {
            position: static;
            transform: translate(0, 0);
        }
    }
    
    &__wrapper {
        display: flex;
        @media (max-width: 1023px) {
            justify-content: center;
        }
    }
    &__description {

        @media (max-width: 1023px) {
            display: flex;
            flex-direction: column;
             
        } 
    }
    &__bg-image-box {
        position: absolute;
        top: 52%;
        transform: translate(0, -48%);
        left: 48%;
        max-width: 50%;
        @media (max-width: 1023px) {
            position: static;
            max-width: 100%;
            width: 80%;
            margin: 50px auto 0 auto;
            transform: rotate(17deg);
        }
        
    }
    &__title {
        width: 512px;
        height: 148px;
        font-family: $titleFont;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        @media (max-width: 767px) {
            width: 75%;
            height: auto;
            margin: 0 auto;
            text-align: center;
            font-size: calc(45px + 19 * (100vw / 1366));
        }
        @media (max-width: 767px) {
            line-height: calc(50px + 24 * (100vw / 1366));
        }
    }
    &__text {
        width: 425px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: $textOpacity;
        margin: 32px 0 71px 0;
        @media (max-width: 767px) {
            width: 75%;
            margin: 32px auto 71px auto;
            text-align: center;
            font-size: calc(12px + 4 * (100vw / 1366));
        }
        @media (max-width: 767px) {
            text-align: justify;
        }
    }
    &__btn-project {
        width: 220px;
        height: 56px;
        background: #5A98D0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #fff;
        @media (max-width: 1023px) {
           align-self: center;
        }    
        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}

.nav {
    margin: 0 auto 100px auto;

    max-width: 1250px;
    padding: 40px 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__main-logo {
        width: 48px;
        height: 48px;
    }
    &__navicon {
        width: 32px;
        height: 32px;
        @media (max-width: 1023px) {
            width: 40px;
            height: 40px;
        }
    }
}

