@font-face {
    font-family: 'Galien';
    src: url('../fonts/Galien\ Regular.woff2'),
    url('../fonts/Galien\ Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy\ Regular.woff2'),
    url('../fonts/Gilroy\ Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy\ SemiBold.woff2'),
    url('../fonts/Gilroy\ SemiBold.woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy\ Light.woff2'),
    url('../fonts/Gilroy\ Light.woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



$mainFont: 'Gilroy';
$titleFont: 'Galien';
$container: 940px;
$mainColor: #fff;
$textOpacity: 0.6;

body {
    font-family: $mainFont;
    background-color: $mainColor;
    width: 100%;

}



.container {
    max-width: $container+30;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img {
    width: 100%;
}

.divider {
    width: 78.5%;
    background-color: #fff;
    opacity: 0.4;
    height: 1px;
    position: relative;
    z-index: 20;
}
